@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');
body {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

    body p {
        padding-left: 3%;
    }

a {
    text-decoration: none;
    font-size: small;
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*-------------- TAGS-HTML --------------*/
/*-------------- SESSÃO BEM VINDO --------------*/
.bem-vindo h1 {
    position: absolute;
    font-size: x-large;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #6E381E;
    color: #e5dbd0;
}
/*-------------- ESTILIZANDO O CARROSSEL --------------*/
.carrossel {
    width: 100%;
    height: 25vh;
    outline: 3px solid #6E381E;
    overflow: hidden;
    margin: -1% 0 0% 0;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.7);
}

    .carrossel li img {
        width: 92%;
        height: 100%;
    }

    .carrossel ul {
        display: flex;
        list-style: none;
        width: 1200px;
        height: 250px;
    }

    .carrossel li {
        position: relative;
        animation: slide 15s infinite ease-out;
    }
    @keyframes slide{
        0%{left:0px}
        20%{left:0px}

        30% {
            left: -435px
        }
        50% {
            left: -435px
        }
        60% {
            left: -748px
        }
        90% {
            left: -748px
        }
        100% {
            left: 0px
        }
    }
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*-------------- ESTILIZANDO O DESTAQUE --------------*/
.destaqueContainer{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
    .destaqueContainer h1 {
        text-align: center;
        font-size: x-large;
        padding: 0 0 0 5%;
        margin: 0 -8% 0 1%;
        font-weight: bold;
        transform: rotate(270deg);
        border-bottom: 2px solid #6E381E;
        font-family: 'Hammersmith One', sans-serif;
        color: #6E381E;
    }

.divDestaque {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
    .divDestaque img {
        width: 100%;
        max-height: 250px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: center;
    }
    .divDestaque h2 {
        display: block;
        font-size: large;
        padding: 3%;
        overflow: hidden;
        color: aliceblue;
    }

    .divDestaque span {
        font-size: larger;
        font-weight: bold;
        color: aliceblue;
        border: 3px solid aliceblue;
        border-radius: 5%;
        margin: 7%;
        padding: 2%;
        box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    }

.divCardDestaque {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0,0,0,0.5);
    border-radius: 15px;
    background: #6E381E;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid aliceblue;
}
    .divCardDestaque:hover {
        border-bottom: 5px solid #de5a79;
    }
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

/*-------------- MENU-HEADER --------------*/
.logotipo {
    width: 25%;
    margin-left: 10%;
}

#cabecalho {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6E381E;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

    #menu a {
        display: block;
        padding: 0.5rem;
        color: white;
    }

        #menu a:hover {
            color: #e5dbd0;
        }

#btn-mobile {
    display: none;
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*-------------- MAIN --------------*/
.fundo {
    width: 100%;
    margin: -2% 0;
}

main {
    background-color: #e5dbd0;
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
    main p {
        margin: 5%;
    }
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*-------------- SESSÃO BEM VINDO --------------*/

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*-------------- SESSÃO BOLOS --------------*/
.bolos {
    display: block;
    align-items: center;
    background-color: #6E381E;
    color: #e5dbd0;
}

    .bolos img {
        border-radius: 1vh;
        box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    }

.bolos-escrituras {
    display: flex;
}

.bolos h1 {
    text-align: center;
    font-size: xx-large;
    color: #e5dbd0;
    margin: 5%;
}

.bolos p {
    text-align: left;
    line-height: 1.5;
    border-left: 2px solid #e5dbd0;
}

.bolos span {
    display: block;
    text-align: center;
    font-size: xx-large;
    margin: 0 0 5% 0;
}

.bolos a {
    display: block;
    text-align: center;
    color: #e5dbd0;
    margin-bottom: 2%;
    font-size: large;
}

    .bolos a:hover {
        color: #de5a79;
    }
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*-------------- SESSÃO DOCES --------------*/
.doces {
    display: block;
    align-items: center;
    color: #6E381E;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

    .doces img {
        border-radius: 1vh;
        box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    }

.bolos-escrituras {
    display: flex;
}

    .doces h1 {
        text-align: center;
        font-size: xx-large;
        color: #6E381E;
        margin: 5%;
    }

    .doces p {
        text-align: left;
        line-height: 1.5;
        border-right: 2px solid #6E381E;
    }
    .doces span {
        display: block;
        text-align: center;
        font-size: xx-large;
        margin: 0 0 5% 0;
    }

    .doces a {
        display: block;
        text-align: center;
        color: #6E381E;
        margin-bottom: 2%;
        font-size: large;
    }

        .doces a:hover {
            color: #de5a79;
        }
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*-------------- SESSÃO CLIENTES SATISFEITOS --------------*/
.clientes-satisfeitos {
    background-color: #6E381E;
    color: #e5dbd0;
}

    .clientes-satisfeitos h1 {
        text-align: center;
        font-size: x-large;
        padding: 1% 0 1% 0;
        margin: 0 0 0 0;
        font-weight: bold;
        border-bottom: 2px solid aliceblue;
        font-family: 'Hammersmith One', sans-serif;
        color: aliceblue;
    }

.clientes-satisfeitos-img img {
    position: relative;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0,0,0,0.5);
    border-radius: 15px;
    background: #6E381E;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid aliceblue;
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*-------------- FOOTER-RODAPE --------------*/
body .rodape {
    display: block;
    margin-bottom: -10%;
    background-color: #e5dbd0;
}

body .rodape-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-top: 2px solid #6E381E;
}

.rodape-container-atributos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: none;
    padding: 5%;
    text-align: center;
    color: #6E381E;
}

    .rodape-container-atributos ul li a {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .rodape-container-atributos h3 {
        font-size: medium;
    }

.rodape-contatos, .rodape-contatos, .rodape-endereco {
    justify-content: center;
    flex-direction: row;
}

    .rodape-contatos ul li, .rodape-contatos ul li, .rodape-endereco ul li {
        font-size: small;
        padding: 1%;
    }

    .rodape-contatos a {
        color: #6E381E;
    }

        .rodape-contatos a:hover {
            color: #de5a79;
        }

.direitos {
    text-align: center;
    font-size: medium;
    padding: 0.5%;
    background-color: #6E381E;
    color: white;
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (max-width: 720px) {

    /*-------------- MENU HAMBURGUER --------------*/
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #6E381E;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

        #menu a {
            padding: 1rem 0;
            margin: 0 1rem;
            border-bottom: 2px solid rgba(0, 0, 0, 0.05);
        }

    #nav.active #menu {
        height: 18vh;
        visibility: visible;
        overflow-y: auto;
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        color: white;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }

        #hamburger::after, #hamburger::before {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: currentColor;
            margin-top: 5px;
            transition: 0.3s;
            position: relative;
        }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

        #nav.active #hamburger::before {
            transform: rotate(135deg);
        }

        #nav.active #hamburger::after {
            transform: rotate(-135deg);
            top: -7px;
        }
    /*-------------- ESTILIZANDO O CORPO DA PAGINA INICIO --------------*/
    /*-------------- SESSÃO BEM VINDO --------------*/
    /*-------------- ESTILIZANDO O DESTAQUE --------------*/
    .destaqueContainer h1 {
        font-size:xx-large;
    }
    .divDestaque {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*-------------- SESSÃO BOLOS --------------*/
    .bolos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .bolos p {
            text-align: center;
            font-size: larger;
            border: none;
        }
        .bolos img {
            width: 80%;
            margin-top: 3vh;
        }
    /*-------------- SESSÃO DOCES --------------*/
    .doces {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .doces img {
            width: 80%;
            margin-top: 3vh;
        }
        .doces p {
            text-align: center;
            font-size:larger;
            border: none;
        }
    /*-------------- SESSÃO CLIENTES SATISFEITOS --------------*/
    .clientes-satisfeitos h1 {
        font-size: large;
    }   
    .clientes-satisfeitos-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .clientes-satisfeitos-img img {
            width: 169px;
            height: auto;
            max-width: 169px;
            max-height: 175px;
        }
}
/*-------------- MEDIA QUERIES MONITOR PEQUENO --------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 720px) and (max-width: 1000px) {
    /*-------------- ESTILIZANDO O DESTAQUE --------------*/
    .destaqueContainer h1 {
        font-size: x-large;
    }
    /*-------------- ESTILIZANDO O DESTAQUE --------------*/
    .divCardDestaque {
        width: 170px;
        height: 270px;
    }
        .divDestaque h2 {
            font-size: medium;
        }

        .divDestaque span {
            font-size: medium;
        }
    /*-------------- SESSÃO BOLOS --------------*/
    .bolos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .bolos p {
            text-align: center;
            font-size: larger;
            border: none;
        }
        .bolos img {
            width: 60%;
            margin-top: 3vh;
        }
    /*-------------- SESSÃO DOCES --------------*/
    .doces {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .doces p {
            text-align: center;
            font-size: larger;
            border: none;
        }
        .doces img {
            width: 60%;
            margin-top: 3vh;
        }
        .doces p {
            border-left: 2px solid #6E381E;
            border-right: none;
        }
    /*-------------- SESSÃO CLIENTES SATISFEITOS --------------*/
    .clientes-satisfeitos h1 {
        font-size: x-large;
    }   
    .clientes-satisfeitos-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .clientes-satisfeitos-img img {
            width: 169px;
            height: auto;
            max-width: 169px;
            max-height: 175px;
        }
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 1000px) and (max-width: 1200px) {
    /*-------------- ESTILIZANDO O DESTAQUE --------------*/
    .destaqueContainer h1 {
        font-size: x-large;
    }
    .divCardDestaque {
        width: 170px;
        height: 270px;
    }
    .destaqueContainer h1 {
        font-size: x-large;
    }
    /*-------------- MENU-HEADER --------------*/
    .logotipo {
        width: 15%;
        margin-left: 10%;
    }
    /*-------------- SESSÃO BOLOS --------------*/
    .bolos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 0 3% 2%;
    }

        .bolos img {
            width: 30%;
            margin-top: 3vh;
        }
    /*-------------- SESSÃO DOCES --------------*/
    .doces {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 0 3% 2%;
    }

        .doces img {
            width: 30%;
            margin-top: 3vh;
        }
    /*-------------- SESSÃO CLIENTES SATISFEITOS --------------*/
    .clientes-satisfeitos h1 {
        font-size: x-large;
    }   
    .clientes-satisfeitos-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .clientes-satisfeitos-img img {
            width: 269px;
            height: auto;
            max-width: 269px;
            max-height: 275px;
        }
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    /*-------------- MENU-HEADER --------------*/
    .logotipo {
        width: 15%;
        margin-left: 10%;
    }
    /*-------------- SESSÃO BOLOS --------------*/
    .bolos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 0 3% 2%;
    }

        .bolos img {
            width: 30%;
            margin-top: 3vh;
        }
    /*-------------- SESSÃO DOCES --------------*/
    .doces {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 0 3% 2%;
    }

        .doces img {
            width: 30%;
            margin-top: 3vh;
        }
    /*-------------- SESSÃO CLIENTES SATISFEITOS --------------*/
    .clientes-satisfeitos-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .clientes-satisfeitos-img img {
            width: 269px;
            height: auto;
            max-width: 269px;
            max-height: 275px;
        }
}
/*-------------- MEDIA QUERIES MONITOR MEDIO --------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 1400px) and (max-width: 1980px) {
    /*-------------- MENU-HEADER --------------*/
    .logotipo {
        width: 10%;
        margin-left: 10%;
    }

    #menu a {
        padding: 2rem 0;
        margin: 0 5rem;
        margin-left: 5%;
        font-size: large;
    }
    /*-------------- SESSÃO BEM VINDO --------------*/

    /*-------------- SESSÃO BOLOS --------------*/
    .bolos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 0 3% 2%;
    }

        .bolos img {
            width: 30%;
            margin-top: 3vh;
        }
    /*-------------- SESSÃO DOCES --------------*/
    .doces {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 0 3% 2%;
    }

        .doces img {
            width: 30%;
            margin-top: 3vh;
        }
    /*-------------- SESSÃO CLIENTES SATISFEITOS --------------*/
    .clientes-satisfeitos-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .clientes-satisfeitos-img img {
            width: 406px;
            height: auto;
            max-width: 406px;
            max-height: 410px;
        }
    /*-------------- FOOTER-RODAPE --------------*/
    .rodape-container-atributos {
        padding: 2%;
    }

        .rodape-container-atributos h3 {
            font-size: large;
        }

    .rodape-contatos ul li, .rodape-contatos ul li, .rodape-endereco ul li {
        font-size: medium;
    }
}
